<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Notificação de compra</title>
  </head>
  <body>
    <h2>Olá, cliente {{name}}! </h2>
    <p>Compra realizada no dia
      {{date}}
      com os produtos
      {{products}}
      num valor total de
      {{totalPrice}}!
    </p>
    <p>Volte sempre!</p>
    <p>KenzieMarket</p>
  </body>
</html>